.CreateNoteModal {
    // button {
    //     width: 100px;
    // }
    .plus-icon {
        font-size: 20px;
        border: 1px solid #393b44;
        padding: 5px 10px 5px 5px;
        background-color: #d6e0f0;
    }
    .plus-icon:hover {
        cursor: pointer;
        background-color: #5392ce;
        color: white;
    }
}
textarea.form-control {
    height: 150px!important;
}